/* Core variables */
@import 'base/vars';

/* CSS Reset */
@import 'base/reset';

/* Fonts */
@import 'base/fonts';

/* Mixins, helpers and functions */
@import 'base/mixins';

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    font-size: 10rem;
}